# Kaggle Data Science & Machine Learning Survey
![Kaggle](https://upload.wikimedia.org/wikipedia/commons/7/7c/Kaggle_logo.png)

Kaggle is an online community of data scientists and machine learning practitioners. You will work with the platform later more later in the course. 
For the fourth year Kaggle, surveyed its members in 2020 about their demographics, technologies they use and much more.  In this notebook you'll get a first glimpse on how to explore a new data set. Don't worry if you don't understand everything. You hopefully will by the end of the course. For now, just have a look at the code, execute the cells and get an understaning of the outputs.
This notebook is a copy of the Kaggle notebook you can find [here](https://www.kaggle.com/maksymshkliarevskyi/kaggle-ml-ds-survey-relations-change-in-time).

In [3]:
!pip install seaborn --upgrade

WARNING: pip is being invoked by an old script wrapper. This will fail in a future version of pip.
Please see https://github.com/pypa/pip/issues/5599 for advice on fixing the underlying issue.
To avoid this problem you can invoke Python with '-m pip' instead of running pip directly.

Usage:
  pip install [options] <requirement specifier> [package-index-options] ...
  pip install [options] -r <requirements file> [package-index-options] ...
  pip install [options] [-e] <vcs project url> ...
  pip install [options] [-e] <local project path> ...
  pip install [options] <archive url/path> ...

no such option: --upgrade;

In [9]:
# loading packages
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
plt.rcParams['figure.dpi'] = 300

# ignoring warnings
import warnings
warnings.simplefilter("ignore")

import os
for dirname, _, filenames in os.walk('/data'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

## A first look at the data

In [13]:
data_2018 = pd.read_csv('data/kaggle_survey_2018_responses.csv')
data_2019 = pd.read_csv('data/kaggle_survey_2019_responses.csv')
data_2020 = pd.read_csv('data/kaggle_survey_2020_responses.csv')

print('Data 2018 shape: {}'.format(data_2018.shape))
print('Data 2019 shape: {}'.format(data_2019.shape))
print('Data 2020 shape: {}'.format(data_2020.shape))
print('-'*30)
print('Head of the data 2020:')
data_2020.head()

Data 2018 shape: (20037, 355)
Data 2019 shape: (19718, 246)
Data 2020 shape: (20037, 355)
------------------------------
Head of the data 2020:

,Time from Start to Finish (seconds),Q1,Q2,Q3,Q4,Q5,Q6,Q7_Part_1,Q7_Part_2,Q7_Part_3,...,Q35_B_Part_2,Q35_B_Part_3,Q35_B_Part_4,Q35_B_Part_5,Q35_B_Part_6,Q35_B_Part_7,Q35_B_Part_8,Q35_B_Part_9,Q35_B_Part_10,Q35_B_OTHER
0,Duration (in seconds),What is your age (# years)?,What is your gender? - Selected Choice,In which country do you currently reside?,What is the highest level of formal education ...,Select the title most similar to your current ...,For how many years have you been writing code ...,What programming languages do you use on a reg...,What programming languages do you use on a reg...,What programming languages do you use on a reg...,...,"In the next 2 years, do you hope to become mor...","In the next 2 years, do you hope to become mor...","In the next 2 years, do you hope to become mor...","In the next 2 years, do you hope to become mor...","In the next 2 years, do you hope to become mor...","In the next 2 years, do you hope to become mor...","In the next 2 years, do you hope to become mor...","In the next 2 years, do you hope to become mor...","In the next 2 years, do you hope to become mor...","In the next 2 years, do you hope to become mor..."
1,1838,35-39,Man,Colombia,Doctoral degree,Student,5-10 years,Python,R,SQL,...,NaN,NaN,NaN,TensorBoard,NaN,NaN,NaN,NaN,NaN,NaN
2,289287,30-34,Man,United States of America,Master’s degree,Data Engineer,5-10 years,Python,R,SQL,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,860,35-39,Man,Argentina,Bachelor’s degree,Software Engineer,10-20 years,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,NaN
4,507,30-34,Man,United States of America,Master’s degree,Data Scientist,5-10 years,Python,NaN,SQL,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [15]:
print('Data 2018 types: \n{}'.format(data_2018.dtypes.value_counts()))
print('-'*20)
print('Data 2019 types: \n{}'.format(data_2019.dtypes.value_counts()))
print('-'*20)
print('Data 2020 types: \n{}'.format(data_2020.dtypes.value_counts()))

Data 2018 types:
object    355
dtype: int64
--------------------
Data 2019 types:
object    246
dtype: int64
--------------------
Data 2020 types:
object    355
dtype: int64

In [17]:
print('Columns with NaN (2018): %d' %data_2018.isna().any().sum())
print('Columns with NaN (2019): %d' %data_2019.isna().any().sum())
print('Columns with NaN (2020): %d' %data_2020.isna().any().sum())

Columns with NaN (2018): 351
Columns with NaN (2019): 214
Columns with NaN (2020): 351

Almost all columns have NaN values.